<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Translatify</title>
    <link rel='shortcut icon' type='image/x-icon' href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}"/>
    <link rel="icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css" th:href="@{/css/materialize.min.css}" media="screen,projection"/>
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <header>
        <div th:if="${auth}">
            <ul id="dropdown-nav" class="dropdown-content">
                <li><a th:href="@{'/user/' + ${auth.getId()}}">Profile </a></li>
                <li class="divider"></li>
                <li><a href="/logout">Logout </a></li>
            </ul>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper blue-grey darken-4">
                        <a href="/" class="brand-logo"><i class="material-icons">format_align_right</i> Translatify</a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a class="waves-effect waves-light btn" href="/new-document">New document <i class="material-icons right">add</i></a></li>
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown-nav"><span th:text="${auth.getUsername()}"></span><i class="material-icons right">arrow_drop_down</i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/new-document">New document</a></li>
                <li><a th:href="@{'/user/' + ${auth.getId()}}">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <div th:unless="${auth}">
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper blue-grey darken-4">
                        <a href="/" class="brand-logo"><i class="material-icons">format_align_right</i> Translatify</a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="/register"><i class="material-icons left">supervisor_account</i>Sign up</a></li>
                            <li><a href="/login"><i class="material-icons left">person</i>Sign in</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/register">Sign up</a></li>
                <li><a href="/login">Sign in</a></li>
            </ul>
        </div>
        <br>
    </header>
    <main class="valign-wrapper">
        <div class="container">
            <div class="row">
                <div class="col m2 l3 xl4"></div>
                <div class="col s12 m8 l6 xl4">
                    <div class="card-panel">
                        <h4 class="center-align">Sign in</h4>
                        <form action="/login" method="POST">
                            <div class="input-field center-align">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="login" type="email" class="validate" name="username" required>
                                <label for="login">Email</label>
                            </div>
                            <div class="input-field center-align">
                                <i class="material-icons prefix">fingerprint</i>
                                <input id="pass" type="password" class="validate" name="password" required>
                                <label for="pass">Password</label>
                            </div>
                            <div class="row">
                                <div class="input-field col s4"></div>
                                <div class="input-field col s4 center-align">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Login<i class="material-icons right">send</i></button>
                                </div>
                                <div class="input-field col s4"></div>
                            </div>
                        </form>
                    </div>   
                </div>
                <div class="col m2 l3 xl4"></div>
            </div>
        </div>
    </main>
    <footer class="page-footer blue-grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About us</h5>
                    <p class="grey-text text-lighten-4">Translatify is a collaborative translation platform that aims to universalize reading access for all.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Follow us</h5>
                    <a class="grey-text text-lighten-3" href="#!"><img src="../static/img/icons/twitter.png" th:src="@{/img/icons/twitter.png}" width="40px"></a>&nbsp;&nbsp;&nbsp;
                    <a class="grey-text text-lighten-3" href="#!"><img src="../static/img/icons/googleplus.png" th:src="@{/img/icons/googleplus.png}" width="40px"></a>&nbsp;&nbsp;&nbsp;
                    <a class="grey-text text-lighten-3" href="#!"><img src="../static/img/icons/facebook.png" th:src="@{/img/icons/facebook.png}" width="40px"></a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            © 2018 Translatify - Max Carlesso dos Santos
            <a class="grey-text text-lighten-4 right" href="#!">About</a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/js/materialize.min.js" th:src="@{/js/materialize.min.js}"></script>
    <script src="../static/js/render.js" th:src="@{/js/render.js}"></script>
</body>
</html>
